<mat-toolbar class="app-menue" color="primary">
  <ul>
    <li><a class="nav-link" [routerLink]="['/event']" routerLinkActive="nav-link-active"><span class="material-icons">today</span><span>Event</span> </a></li>
    <li><a class="nav-link" [routerLink]="['/vote']" routerLinkActive="nav-link-active"><span class="material-icons">ballot</span>Voting</a></li>
    <li><a class="nav-link" [routerLink]="['/results']" routerLinkActive="nav-link-active"><span class="material-icons">insert_chart_outlined</span>Results</a></li>
    <li><a class="nav-link" [routerLink]="['/login']" routerLinkActive="nav-link-active"><span class="material-icons">account_box</span> Profile</a></li>
  </ul>
</mat-toolbar>
